TELEGRAM_BOT_TOKEN=your_arabic_bot_token_here
TELEGRAM_CHAT_ID=your_arabic_chat_id_here

TELEGRAM_BOT_TOKEN_EN=your_english_bot_token_here
TELEGRAM_CHAT_ID_EN=your_english_chat_id_here

SERPAPI_KEY=your_serpapi_key_here
SERPAPI_KEY_EN=your_serpapi_key_for_english_here

GH_TOKEN=your_github_personal_access_token_here
